@import "../variables/colors";
@import "../variables/base";

.advisesSection {
  margin-top: $base-space-size-huge;

  &:last-child {
    padding-bottom: $base-space-size-large;
  }
}

.advisesSectionTitle {
  font-size: 24px;
  line-height: 24px;
}

.advisesText {
  margin-bottom: $base-space-size-middle-plus;
}

@media screen and (max-width: 800px) {
  .advisesSection {
    margin-top: $base-space-size-large;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .advisesSectionTitle {
    font-size: 20px;
    margin-bottom: $base-space-size-middle-plus;
  }

  .advisesText {
    margin-bottom: $base-space-size-small;
  }
}