@import "../variables/base";
@import "../variables/colors";

.cart {
  color: $product-text;
}

.cartTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: $base-space-size-enormous;
  text-align: left;

  & thead {
    background-color: $color-white;
  }

  & tr {
    border: 1px solid $border-color;
  }

  & td,
  & th {
    padding: $base-space-size-medium;
  }
}

.cartTableIcon {
  cursor: pointer;
  transition: opacity .3s ease;

  &:hover {
    opacity: .8;
  }
}

.cartTooltipIcon {
  margin-left: $base-space-size-small;
}

.cartTableImg {
  width: 90px;
  height: auto;
  aspect-ratio: 1;
}

.cartTableName {
  color: $color-primary;
  transition: color .3s ease;

  &:hover {
    color: $cart-hover-text;
  }
}

.cartTableNameOptions {
  font-size: calc(100% - 1px);
}

.cartTableAction {
  display: flex;
  align-items: center;
  column-gap: $base-space-size-middle-plus;
  margin-bottom: $base-space-size-middle;
}

.cartTableInput {
  border: 1px solid $border-color;
  border-radius: $base-radius-medium;
  padding: $base-space-size-small;
  max-height: 35px;
}

.cartTableBtn {
  color: $color-white;
  background-color: $color-primary;
  border-radius: $base-radius-large;
  padding: $base-space-size-small $base-space-size-medium;
  transition: background-color .3s ease;

  &:hover {
    cursor: pointer;
    background-color: $color-primary-dark;
  }
}

.cartTotal {
  width: 50%;
  margin-left: auto;

  & .cartTable {

    & td,
    & th {
      vertical-align: top;
      padding: $base-space-size-medium $base-space-size-large;
    }

    & th {
      padding-right: 0;
    }
  }
}

.cartTotalTitle {
  font-size: 24px;
  line-height: 32px;
}

.cartTotalHeading {
  display: table-cell;
}

.cartTotalCaption {
  display: none;
}

.cartLink {
  width: 100%;
  display: block;
  margin-top: $base-space-size-small;
  margin-bottom: $base-space-size-tiny;
  color: $color-primary;
  transition: color .3s ease;

  &:hover {
    cursor: pointer;
    color: $color-primary-dark;
  }
}

.cartTableActionLink {
  display: inline-block;
  width: fit-content;
  margin: 0;
}

.cartTableCouponCaption {
  text-align: left;
  font-size: calc(100% - 1px);
  line-height: 20px;
}

.cartTotalForm {
  display: flex;
  flex-direction: column;
  row-gap: $base-space-size-small;
}

.cartTotalInput {
  padding: $base-space-size-middle;
  border: 1px solid $border-color;
  border-radius: $base-radius-medium;
}

.cartTotalFormBtn {
  width: fit-content;
  color: $color-white;
  background-color: $color-primary;
  border-radius: $base-radius-large;
  padding: $base-space-size-small $base-space-size-medium;
  transition: background-color .3s ease;

  &:hover {
    cursor: pointer;
    background-color: $color-primary-dark;
  }
}

.topIndentSm {
  margin-top: $base-space-size-small;
}

.cartTotalMobileWrapper {
  display: none;
}

.cartTotalLabel.cartTotalLabel {
  margin-left: -#{$base-space-size-small};
  margin-right: 0;
  flex-direction: row;
}

.cartTotalActions {
  display: flex;
  column-gap: $base-space-size-medium;
  row-gap: $base-space-size-small;

  & .cartLink {
    width: fit-content;
  }
}

@media screen and (max-width: 800px) {
  .cartTable {
    & td {
      text-align: right;
      display: flex;
      justify-content: space-between;
      column-gap: $base-space-size-small;
      border-bottom: 1px solid $border-color;
    }

    & td {
      padding: $base-space-size-small $base-space-size-medium;
    }

    & .cartTotalShipping {
      display: block;
    }

    & .cartTotalMobileWrapper {
      display: flex;
      justify-content: space-between;
      column-gap: $base-space-size-small;
    }
  }

  .cartTableIcon {
    justify-content: flex-end;
  }

  .cartTableBtn {
    width: 100%;
    padding: $base-space-size-small $base-space-size-middle-plus;
  }

  .cartTableAction {
    & .cartTableBtn {
      width: fit-content;
    }
  }

  .cartTotal {
    width: 100%;
  }

  .cartTotalTitle {
    font-size: 22px;
    line-height: 30px;
  }

  .cartTotalHeading {
    display: none;
  }

  .cartTotalCaption {
    display: inline-block;
  }

  .cartLink {
    margin-left: auto;
  }

  .cartTotalFormBtn {
    width: 100%;
  }

  .cartTotalLabel.cartTotalLabel {
    margin-left: 0;
    margin-right: -#{$base-space-size-small};
    flex-direction: row-reverse;
  }

  .cartTotalActions {
    flex-direction: column;

    & .cartLink {
      width: 100%;
    }
  }

  .cartTotalShippingAddressMobile {
    width: 100%;
    // margin-left: -10%;
  }
}

@media screen and (max-width: 440px) {
  .cartTable {
    & td {
      padding: $base-space-size-small;
    }
  }

  .cartTableInput {
    max-width: 140px;
  }

  .cartTotal {
    & .cartTable {
      & td {
        padding: $base-space-size-small $base-space-size-medium;
      }
    }
  }
}