$base-space-size-tiniest: 2px;
$base-space-size-tiny: 4px;
$base-space-size-small: 8px;
$base-space-size-middle: 10px;
$base-space-size-middle-plus: 12px;
$base-space-size-medium: 16px;
$base-space-size-large: 24px;
$base-space-size-huge: 32px;
$base-space-size-enormous: 40px;
$base-space-container: 200px;

$base-avatar-size-tiny: 16px;
$base-avatar-size-small: 24px;
$base-avatar-size-medium: 32px;
$base-avatar-size-middle: 40px;
$base-avatar-size-large: 44px;

$base-radius-tiny: 2px;
$base-radius-small: 3px;
$base-radius-medium: 4px;
$base-radius-middle: 5px;
$base-radius-large: 8px;
$base-radius-huge: 16px;