$color-primary: #339900;
$color-primary-dark: #1c5300;
$color-secondary: #54595F;
$color-text: #7A7A7A;
$color-accent: #61CE70;
$color-background: #EEEEEE;
$color-background-header: #383838;
$color-white: #FFFFFF;
$color-black: #000000;
$product-text: #4B4F58;
$cart-hover-text: #3a3a3a;
$border-color: #dddddd;